:root {
  --app-font: "Google Sans";
  --app-bg: var(--main-alt);
  --app-watermark-one: "Material";
  --app-watermark-two: "Discord";
  --app-title-bar-height: 22px;
  --app-button-min: hsl(39,100%,63%);
  --app-button-max: hsl(143,100%,40%);
  --app-button-close: hsl(1,100%,68%);
  --accent-hue: 224;
  --accent-saturation: 71%;
  --accent-lightness: 61%;
  --accent-hsl: var(--accent-hue),calc(var(--accent-saturation) * var(--saturation-factor)),var(--accent-lightness);
  --accent-text-color: hsl(0,0%,100%);
  --alert-hue: 0;
  --alert-saturation: 85%;
  --alert-lightness: 61%;
  --alert-hsl: var(--alert-hue), calc(var(--alert-saturation) * var(--saturation-factor)), var(--alert-lightness);
  --alert-text-color: hsl(0,0%,100%);
  --warning-hue: 44;
  --warning-saturation: 71%;
  --warning-lightness: 61%;
  --warning-hsl: var(--warning-hue), calc(var(--warning-saturation) * var(--saturation-factor)), var(--warning-lightness);
  --warning-text-color: hsl(0,0%,100%);
  --success-color: hsl(153,46%,49%);
  --sidebar-panel-radius-big: var(--popout-radius-big);
  --sidebar-panel-radius-small: 4px;
  --message-radius: 18px;
  --message-padding-top: 8px;
  --message-padding-side: 12px;
  --main-textarea-color: var(--input-color);
  --main-textarea-border: var(--input-border-color);
  --main-textarea-radius: 24px;
  --media-radius: calc(var(--message-radius) / 1.75);
  --card-radius: 8px;
  --card-radius-big: 18px;
  --button-height: 36px;
  --button-radius: calc(var(--button-height) / 2);
  --button-padding: 0 24px;
  --button-padding-has-icon-left: 0 24px 0 16px;
  --button-padding-has-icon-right: 0 16px 0 24px;
  --button-font-size: 14px;
  --button-link-accent-color: var(--accent-hsl--material-you);
  --button-link-accent-text-color: hsl(var(--accent-hsl--material-you));
  --button-action-color: hsl(0,0%,100%);
  --button-action-hover: 0.06;
  --button-action-active: 0.12;
  --input-height: var(--button-height);
  --input-radius: calc(var(--input-height) / 2);
  --input-padding: 0 12px;
  --typing-color: hsl(from var(--chat-color) h s l / 0.9);
  --emoji-category-header: hsl(from var(--popout-color) h s l / 0.95);
  --popout-radius: var(--card-radius);
  --popout-radius-big: var(--card-radius-big);
  --avatar-radius: 24px;
  --channel-radius: 21px;
  --spotify-color: hsl(141,73%,42%);
  --stream-color: hsl(262,47%,40%);
  --xbox-color: hsl(120,77%,27%);
  --tooltip-color: hsl(0,0%,38%,0.9);
  --tooltip-border-color: hsl(0,0%,51%);
  --tooltip-text-color: hsl(0,0%,87%);
  --tooltip-font-size: 12px;
  --tooltip-padding: 8px;
  --tooltip-radius: 8px;
  --tooltip-shadow: 0px 5px 15px hsl(0,0%,0%,0.2);
  --shadow-1dp: 0 2px 2px 0 hsl(0,0%,0%,0.14), 0 3px 1px -2px hsl(0,0%,0%,0.2), 0 1px 5px 0 hsl(0,0%,0%,0.12);
  --shadow-2dp: 0 4px 5px 0 hsl(0,0%,0%,0.14), 0 1px 10px 0 hsl(0,0%,0%,0.12), 0 2px 4px -1px hsl(0,0%,0%,0.2);
  --shadow-3dp: 0 8px 10px 1px hsl(0,0%,0%,0.14), 0 3px 14px 2px hsl(0,0%,0%,0.12), 0 5px 5px -3px hsl(0,0%,0%,0.2);
  --default-animation: cubic-bezier(0.4,0,0.2,1);
  --default-time: 250ms;
  --scrollbar-width: 10px;
  --scrollbar-thin-width: 6px;
  --code-font: Consolas,Andale Mono WT,Andale Mono,Lucida Console,Lucida Sans Typewriter,DejaVu Sans Mono,Bitstream Vera Sans Mono,Liberation Mono,Nimbus Mono L,Monaco,Courier New,Courier,monospace;
}
